*{
    font-family:  Helvetica, "Helvetica Neue", Tahoma, Verdana, "Gill Sans",
    "lucida grande", "lucida sans unicode", lucida, "Hiragino Sans GB",
    "San Francisco",system-ui,-apple-system, "PingFang SC", "STXihei", "Microsoft Yahei",
    "WenQuanYi Micro Hei", sans-serif;
    font-weight: 500!important;
    letter-spacing: 0.05em;
    word-spacing: 0.25em;
    line-height: 2em;

}