body {
    /* background: url(https://source.unsplash.com/random) no-repeat center/cover fixed; */
    background: #fafafa;
    width: 90vw;
    margin: 0 auto;
}

/* body:after {
    content: "";
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: inherit;
    filter: blur(2px);
    z-index: -999;
} */

/* #menu * {
    visibility: hidden;
    height: 1px;
    opacity: 0;
    overflow: hidden;
}

#menu.active,
#menu .active,
#menu.active>*,
#menu .active>* {
height: auto;
opacity: 1;
    margin: 1rem;
    visibility: visible;
    overflow: auto;
}

#menu.active,#menu .active{
    display: flex;
    flex-flow: row wrap-reverse;
  

}
#menu.active::after,
#menu .active::after {
    content: attr(data-title);
    display: block;
    font-size: 1em;

}
#menu.active li,
#menu .active li {
    display: inline-block;
width: 10vmin;
height: 10vmin;
}

#menu.active li:before,
#menu .active li:before {
    content: attr(data-text);
    display: inline-block;
    font-size: 1em;
    width: 10vmin;
    height: 10vmin;
} */


  #main li {
    max-width: 0;
    max-height: 0;
    opacity: 0;
    margin: 0;
    padding: 0;
} 

#main li.active,
#main li.active>ul,
#main li.active>ul>li {
    max-width: 999vw !important;
    max-height: 999vh !important;
    opacity: 1 !important;
}

#main {
    height: auto;
    position: relative;
}

#main li.active {
    height: auto;
    position: relative;
    padding-top: 2em;
    margin-bottom: 4em;
    /* overflow: hidden; */
}

#main li.active::before {
    content: attr(data-title);
    position: absolute;
    left: 0;
    top: 0;
}

#main li.active>ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100% !important;

}

#main li.active>ul>li {
    display: block;
    max-width: 22.5% !important;
    /* border: solid 1px #666; */
    text-align: center;
    position: relative;

    flex: 1 0 24%;

    height: 100%;

    cursor: pointer;

    backdrop-filter: blur(4px);
    background: hsla(0, 0%, 0%, 0.1) !important;
    box-shadow: 0 0 12px 0 hsl(0deg 0% 0% / 24%);
}

#main li.active>ul>li:before {
    content: attr(data-text);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#main li.active>ul>li::after {
    content: "";
    padding-top: 100%;
    vertical-align: middle;
    display: block;
}
#main li.active>ul>li>*{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#main li.active>ul>li[data-text] *{
    display: none;
}



a[title=站长统计]{
    height: 1px;
    width: 1px;
    overflow: hidden;
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0;
}

.backup {
    display: block;
    width: 26vw;
    height: 26vh;
    position: fixed;
    z-index: 999;
    backdrop-filter: blur(4px);
    background: hsla(0, 0%, 100%, 0.1) !important;
    box-shadow: 0 0 12px 0 hsl(0deg 0% 0% / 24%);
    color: #fefefe !important;
    /* border: 1px solid hsla(0,0%,100%,0.8)!important; */
    left: 8vmin;
    top: 3vmin;
   

}